$color-primary: #4c4c4c;
$color-secondary: #4c4c4c;
$color-tertiary: #5085a5;
$color-youtube: rgb(252, 13, 27);
$color-facebook: #4469B0;
$color-soundcloud: #FD411E;
$color-instagram: #BD3780;
$off-white: #ECEBE9;